<div class="container">
    <div class="table-header">
        <h1 class="table-list-header">Products</h1>
    </div>
        <table class="list-table" *ngIf="products.length > 0; else noProducts">
            <tbody>
                <tr *ngFor="let product of products">
                    <td><img [src]="product.imageUrl" alt="{{ product.description }}" class="product-image"></td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <form (ngSubmit)="updateCart(product.id)" *ngIf="product.stock > 0 else noStock">
                            <input type="number" id="quantity" name="quantity" class="number-box"
                            [(ngModel)]="this.opDetails[product.id].orderProduct.quantity" [min]="1" [max]="product.stock" />
                            <button class="edit-button" type="submit">
                                 {{ this.opDetails[product.id].alreadyInCart ? 'Update Cart' : 'Add To Cart' }}
                            </button>
                        </form>
                        <ng-template #noStock>
                            <span>Out of Stock</span>
                        </ng-template>
                    </td>
                    <td>
                        <button (click)="viewProduct(product.id)">View Item</button>
                    </td>
                </tr>
            </tbody>
        </table>

    <ng-template #noProducts>
        <p>No Products Available</p>
    </ng-template>
</div>