<div class="element-container" *ngIf="product != null && orderProduct != null">
    <div class="element-form">
    <h1>{{ product.description }}</h1>
        <table>
          <tbody>
            <tr>
              <td class="edit-label"><label for="stock">Stock:</label></td>
              <td> {{ product.stock }}</td>
            </tr>
            <tr>
              <td class="edit-label"><label for="price">Price:</label></td>
              <td> {{ product.price }}</td>
            </tr>
             <!-- Stepper Input Row -->
            <tr>
            <td class="edit-label"><label for="quantity">Quantity:</label></td>
            <td>
              <input type="number" id="quantity" [(ngModel)]="orderProduct.quantity" [min]="1" [max]="product.stock" />
            </td>
          </tr>
          </tbody>
        </table>
            <div class="button-container">
                <button class="edit-button" type="submit">Save</button>
                <button class="edit-button" type="button" (click)="cancel()">Cancel</button>
            </div>
    </div>
      <div *ngIf="product != null" class="product-image-container">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Product Image" class="product-image" />
      </div>
</div>
  