<div class="container">
    <div class="table-header">
        <h1 class="products-header">Products</h1>
        <div class="add-product-button-container">
            <button (click)="addProduct()">Add New Product</button>
        </div>
    </div>
        <table class="list-table" *ngIf="products.length > 0; else noProducts">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td><img [src]="product.imageUrl" alt="{{ product.description }}" class="product-image"></td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.active ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <button (click)="changeProductStatus(product)">{{ product.active ? 'Deactivate' : 'Activate' }}</button>
                        <button (click)="editProduct(product.id)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

    <ng-template #noProducts>
        <p>No Products Available</p>
    </ng-template>
</div>