<div class="container">
    <div class="title">
        <h1>Register With Us</h1>
    </div>
    <div id="register-form">
        <form #registerForm="ngForm" (ngSubmit)="attemptRegister(registerUser)">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="registerUser.firstName" required autocomplete="off">
            <div class="error" *ngIf="nullFirstName">First Name is required</div>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="registerUser.lastName" required autocomplete="off">
            <div class="error" *ngIf="nullLastName">Last Name is required</div>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="registerUser.email" required autocomplete="off">
            <div class="error" *ngIf="nullEmail">Email is required</div>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="registerUser.password" required autocomplete="off">
            <div class="error" *ngIf="nullPassword">Password is required</div>

            <br>
            <button type="submit">Register</button>
            <br><br>
        </form>
    </div>
</div>