<div class="container">
    <div class="table-header">
        <h1 class="table-list-header">Wish List</h1>
    </div>
        <table class="list-table-clean" *ngIf="products.length > 0; else noProducts">
            <tbody>
                <tr *ngFor="let product of products">
                    <td><img [src]="product.imageUrl" alt="{{ product.description }}" class="product-image"></td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <button (click)="viewProduct(product.id)">View</button>
                        <button (click)="removeFromWishList(product.id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

    <ng-template #noProducts>
        No Items in Wish List
    </ng-template>
</div>