<div class="edit-element-container">
    <div class="edit-element-form">
    <h1>Edit User</h1>
      <form *ngIf="user" (ngSubmit)="saveUser()">
        <table>
          <tbody>
            <tr>
              <td class="edit-label"><label for="firstName">First Name:</label></td>
              <td><input id="firstName" type="text" [(ngModel)]="user.firstName" name="firstName" required /></td>
            </tr>
            <tr>
              <td class="edit-label"><label for="lastName">Last Name:</label></td>
              <td><input id="lastName" type="text" [(ngModel)]="user.lastName" name="lastName" required /></td>
            </tr>
            <tr>
              <td class="edit-label"><label for="email">Email:</label></td>
              <td><input id="email" type="text" [(ngModel)]="user.email" name="email" required /></td>
            </tr>
            <tr>
                <td class="edit-label"><label for="coupon">Coupon:</label></td>
                <td>
                  <select id="coupon" [(ngModel)]="user.coupon" name="coupon">
                    <option [ngValue]="null">None</option>
                    <option *ngFor="let coupon of coupons" [ngValue]="coupon">
                      {{ coupon.discount }}% off
                    </option>
                  </select>
                </td>
            </tr>
          </tbody>
        </table>
            <div class="button-container">
                <button class="edit-button" type="submit">Save</button>
                <button class="edit-button" type="button" (click)="remove()">Remove</button>
                <button class="edit-button" type="button" (click)="cancel()">Cancel</button>
            </div>
      </form>
    </div>
</div>
  