.product-image {
    max-width: 100px; /* Adjust size as needed */
    max-height: 100px; /* Adjust size as needed */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.table-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.table-list-header {
    grid-column: 2 / 3;
    text-align: center;
}

.add-element-button-container {
    grid-column: 3 / 4;
    text-align: right;
}

.price-breakdown {
    width: 30%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
  }
  
  .price-breakdown tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .price-breakdown td {
    padding: 8px;
    text-align: right;
  }
  
  .price-breakdown td.edit-label {
    font-weight: bold;
    text-align: left;
  }
  
  .price-breakdown td:last-child {
    font-weight: bold;
  }
  
  .price-breakdown tbody tr:last-child td {
    border-bottom: none;
  }

  .apply-button {
    margin-left: 15px;
  }