<div class="container" *ngIf="user && currentOrder && cartItems.length > 0; else noCartItems">
    <div class="table-header">
        <h1 class="table-list-header">Cart</h1>
    </div>

    <table class="list-table" >
        <tbody>
            <tr *ngFor="let cartItem of cartItems">
                <td><img [src]="cartItem.product.imageUrl" alt="{{ cartItem.product.description }}" class="product-image"></td>
                <td>{{ cartItem.product.description }}</td>
                <td>{{ cartItem.product.price | number:'1.2-2' }}</td>
                <td>x{{ cartItem.quantity }}</td>
                <td>{{ cartItem.totalItemPrice | number:'1.2-2' }}</td>
                <td>
                    <button (click)="viewProduct(cartItem.product.id)">View</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="user.coupon && !currentOrder.coupon">
        {{ user.coupon.discount }}% off coupon available   
        <button class="apply-button" (click)="applyCoupon()">Apply</button>
    </div>
    <div *ngIf="user.coupon && currentOrder.coupon">
        {{ user.coupon.discount }}% off coupon applied
    </div>

    <table class="price-breakdown">
        <tbody>
          <tr>
            <td class="edit-label"><label for="initialTotal">Initial Total:</label></td>
            <td> {{ currentOrder.initialTotal | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="edit-label"><label for="discount">Discount:</label></td>
            <td> {{ currentOrder.discount | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td class="edit-label"><label for="finalTotal">Final Total:</label></td>
            <td> {{ currentOrder.finalTotal | number:'1.2-2' }}</td>
          </tr>
        </tbody>
    </table>

    <button (click)="placeOrder()">Place Order</button>
</div>


<ng-template #noCartItems class="container">
    <h1 class="table-list-header">Cart</h1>
    <h2 class="table-list-header">Cart Currently Empty</h2>
</ng-template>
