/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color:#ece9e9;
}

  /* Style the submit button */
  button {
    background-color: #007bff; /* Blue background for the button */
    color: white; /* White text color */
    border: none; /* Removes the default border */
    padding: 10px 20px; /* Adds padding inside the button */
    font-size: 16px; /* Increases font size */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border-radius: 4px; /* Rounds the corners of the button */
  }
  
  /* Style the button on hover */
  button:hover {
    background-color: #0056b3; /* Darker blue background on hover */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text within the container */
    margin: 15px;
    }

    .list-table {
        border-collapse: collapse; /* Ensures borders between cells are merged */
        width: 100%; /* Table will cover the full width of the container */
    }

    .list-table td, .list-table th {
        padding: 10px; /* Adds padding inside cells */
        border: 1px solid #ddd; /* Adds a light border around cells */
        text-align: center; /* Center text within cells */
    }

  .list-table thead {
    background-color: #f4f4f4;
  }

  .list-table-clean {
    border-collapse: collapse; /* Ensures borders between cells are merged */
    width: 100%; /* Table will cover the full width of the container */
    border: none;
}

.list-table-clean td, .list-table th {
    padding: 10px; /* Adds padding inside cells */
    border: 1px solid #ddd; /* Adds a light border around cells */
    text-align: center; /* Center text within cells */
}

.list-table-clean tr {
  border: none;
}

.list-table-clean thead {
background-color: #f4f4f4;
}

.list-table-clean button {
margin-right: 10px;
margin-left: 10px;
}   

  .list-table-clean button {
    margin-right: 10px;
    margin-left: 10px;
  }   
  
  /* Style the labels */
  label {
    display: block; /* Makes labels appear on a new line */
    margin-bottom: 5px; /* Adds space between the label and input */
    font-weight: bold; /* Makes the label text bold */
  }

  .table-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

table {
  margin-bottom: 15px;
}

.table-list-header {
    grid-column: 2 / 3;
    text-align: center;
}

.add-element-button-container {
    grid-column: 3 / 4;
    text-align: right;
}

.strong {
  font-weight: bold;
}