<div class="edit-product-container">
    <div class="edit-product-form">
    <h1>Add New Product</h1>
      <form *ngIf="product" (ngSubmit)="saveProduct()">
        <table>
          <tbody>
            <tr>
              <td class="edit-label"><label for="description">Description:</label></td>
              <td><input id="description" type="text" autocomplete="off" [(ngModel)]="product.description" name="description" required /></td>
            </tr>
            <tr>
              <td class="edit-label"><label for="stock">Stock:</label></td>
              <td><input id="stock" type="number" [(ngModel)]="product.stock" name="stock" required min="0" (ngModelChange)="onStockChange()"/></td>
            </tr>
            <tr>
              <td class="edit-label"><label for="price">Price:</label></td>
              <td><input id="price" type="number" [(ngModel)]="product.price" name="price" required step="0.01" min="0.01" (ngModelChange)="onPriceChange()"/></td>
            </tr>
            <tr>
                <td class="edit-label"><label for="imageUrl">Image URL:</label></td>
                <td><input id="imageUrl" type="text" [(ngModel)]="product.imageUrl" name="imageUrl" required /></td>
              </tr>
          </tbody>
        </table>
            <div class="button-container">
                <button class="edit-button" type="submit">Save</button>
                <button class="edit-button" type="button" (click)="cancel()">Cancel</button>
            </div>
      </form>
    </div>
      <div *ngIf="product != null" class="product-image-container">
        <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Product Image" class="product-image" />
      </div>
</div>
  